.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(28, 28, 28, 0.683);
    margin: 20px 0;
    width: fit-content;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
    padding: 2px 5px;
    background-color: #fff;

}

input[type="text"]{
    width: 300px;
    padding: 10px;
    /* border: 1px solid #d9d9d9; */
    border: none;
    font-size: 16px;
}

input[type="text"]:focus{
    outline: none;
}

.suggestions-list{
    position: absolute;
    margin: 0 auto;
    left: calc(50vw - 175px);
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 10px 0;
    margin-top: 15px;
    border: 1px solid black;
    z-index: 99999;
    backdrop-filter: blur(11px);
    overflow-y: auto;
    max-height: 150px;
}



svg{
    width: 20px;
}

.suggestions-list.hide {
  display: none;
}


.search-button{
    height: 100%;
    width: 100px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    cursor: pointer;
}

.search-button:hover{
    transform: scale(1.02); 
    transition: all 0.3s ease-in-out;
}



.search-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

input {
  flex: 1;
  border: none;
  outline: none;
}




.suggestions-list li {
  padding: 8px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background: #f0f0f0;
}

.pokemon-inf-container {
  margin-top: 10px;
}

.pokemon-inf-container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999999;
    background-color: #f1f1f1ba;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex
;
    justify-content: center;
    align-items: center;
}

.pokemon-inf{
    height: 70vh;
    min-width: 350px;
    border: 1px solid #a8a8a8;
    background-color: #ffff;
    display: flex
;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;

}